@import 'https://fonts.googleapis.com/css?family=Lato:400,700';


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background:#eee;
	font-family: 'Lato', sans-serif;

}
#header{
	background:#eee;
	position:fixed;
	width:100vw;
	height:11vh;
	top:0;
	display:flex;
	align-items:center;
	justify-content:flex-start;
	z-index:1000;


		img{
		width:120px;
		}

		.name-logo{
		font-size:25px;
		}

		#nav-bar{
		margin-left:auto;
		}

		.nav-link{
		color:black;
		text-decoration:none;
		margin-right:70px;
		font-size:17px;
		}
}

/*Fine dell header,nav*/

.content-form{
	margin:0 auto;
	z-index:2;
}


#form{
	display:block;
	padding-top:120px;
	text-align:center;

	h2{
	padding-bottom:20px;
	}

	#email{
	width:21vw;
	height:30px;
	padding-left:5px;
	border:none;
	margin-bottom:17px;
	}

	#submit{
	width:130px;
	height:30px;
	background:orange;
	border:none;
	font-weight:bold;
	font-size:15px;
	cursor:pointer;
	}

}

#content-description{
		
		margin-top:100px;
		width:69vw;
		margin-left:auto;
		margin-right:auto;

		img{
			width:50px;
		}

		.icon{
		padding-right:70px;
		}

		.grid{
			display:flex;
			justify-content:center;
			padding-bottom:60px;
			}

		.desc{
		display:flex;
		flex-direction:column;
		justify-content:flex-end;
		align-self:center;
		
		h2{
		font-size:22px;
		}

		}

}

#video{
	text-align:center;
	iframe{
		width:45vw;
		height:50vh;
	}
}


#price-content{
	width:78vw;
	display:flex;
	justify-content:space-between;
	margin:0 auto;
	margin-top:70px;
	margin-bottom:50px;

	.price-block{
	 width:320px;
	 height:300px;
	 border:1px solid black;
	 text-align:center;
	}

	h4{
	padding:15px;
	margin-bottom:20px;
	background:#ddd;
	}

	h2{
	margin-bottom:15px;
	font-size:25px;
	}
	.paragraf{
	margin-bottom:20px;

	p{
	padding:5px;
	}

	}

	.submit-two{
		background:orange;
		border:none;
		width:100px;
		height:35px;
		font-size:15px;
		cursor:pointer;
	}
	.submit-two:hover{
		background:rgba(255,140,0, 0.4);
		transition: background .5s linear;
	}

}



#footer{
	margin:0 auto;
	background:#ddd;
	width:80vw;
	height:80px;

	.link-footer, .paragraf-footer{
		display:flex;
		justify-content:flex-end;
		padding-right:15px;

		a{
		text-decoration:none;
		color:black;
		padding-right:15px;
		padding-top:20px;
		}

		p{
		font-size:14px;
		color:gray;
		padding-top:7px;
		}

	}

}




@media (max-width: 600px) {
  #header {
    flex-wrap: wrap;
    
  }
}

@media (max-width: 650px) {
  .icon {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

@media (max-width: 650px) {
  .icon > img {
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }

  }

 @media(max-width:650px){
 	form{
 		margin-top:100px;
 		margin-bottom:100px;
 	}
 }

 @media(max-width:650px){
 	iframe{
 		height:100px;
 	}
 }

  @media (max-width: 550px) {
  #content-description .desc .icon{
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #content-description {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  #price-content {
    flex-direction: column;
  }
  .price-block {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}



